# Database
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=portf
POSTGRES_PORT=5433
DATABASE_URL=postgresql://postgres:postgres@db:5432/portf?schema=public

# API
JWT_SECRET=changeme-super-secret
ADMIN_EMAIL=admin@local.test
ADMIN_PASSWORD=admin123
COOKIE_DOMAIN=
CORS_ORIGIN=http://localhost:3000
UPLOAD_DIR=/app/uploads

# Web
NEXT_PUBLIC_API_BASE_URL=http://localhost:3001
API_BASE_URL=http://api:3001

# Traefik
TRAEFIK_ACME_EMAIL=you@teudominio.pt
